# Lambda stack venv generated
lib**
bin/
include/
pyvenv.cfg
etc/

# PyCharm
.idea/

# Stuff local to our project
dev/
images/
!docs/images
.env
*.h5
logs/
share/

# Pycache
**__pycache__**

# Coco dir
coco_data/